<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
  <main>
    <div class="row">
      <div class="px-3 mx-auto"><!--"mx-auto"は左右の余白を自動的に設定し、要素を水平方向に中央に配置する-->
    <h1>Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!</h1>
    </div>
   </main>
  <br>
 </body>
</html>